<p>お気に入り</p>

  <% @favorites.each do |favorite| %>
    <div>
        <th> text: </th>
        <p><%= favorite.picture.content %></p>
        <th> image: </th>
        <p><%= image_tag favorite.picture.image.url if favorite.picture.image.present? %></p>
    </div>
  <% end %>

<%= link_to 'top', pictures_path %>